@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

html,
body {
  font-family: 'Pretendard', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: ${({ theme }) => theme.color.gray['1000']};
}
a {
  text-decoration: none;
}
